# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
esign-backend/venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# Environment files
.env
*.env

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# Mac
.DS_Store
